* {
  margin: 0;
  border: 0;
  padding: 0;
}
.partial-container {
  font-family: "consolas";
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #222831;
  border-radius: 5px;
  box-shadow: 10px 10px 25px 0px rgba(34, 40, 49, 0.8);
  transition: all 2s linear;
}
.partial-container > .partial-title {
  color: #f96d00;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-group {
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
}
.form-group > label {
  padding-bottom: 3px;
  display: block;
  font-weight: bold;
  color: #dcdcaa;
}

.text-input {
  transition: all 0.2s linear;
  width: 100px;
  border: none;
  border-bottom: 2px solid #ffa866;
  outline: none;
  font-size: 16px;
  color: #d4d4d4;
  background-color: transparent;
}

.full-width {
  width: 100%;
  display: block;
}
.text-input:focus {
  border-color: #f96d00;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}
.bottom-row > div {
  display: flex;
  align-items: center;
}

.message-output {
  margin: 0;
  margin-bottom: 5%;
  color: #ff5c16;
  display: block;
  font-style: italic;
}

.btn-primary {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #222831;
  background-color: #f96c00f0;
  cursor: pointer;
}
.select-box {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #222831;
  background-color: #f96c00f0;
  cursor: pointer;
}
.size-small {
  margin: 3px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #222831;
  background-color: #f96c00f0;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #f96d00;
}
.btn-primary:disabled {
  background-color: #f96c009f;
}

a:link {
  color: #dcdcaa;
}

a:visited {
  color: #f96d00;
}
u {
  margin-left: 7px;
  cursor: pointer;
}
