.loading > span {
  display: block;
  height: 30px;
  width: 30px;
  background: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.loading > span:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
  border-width: 5px;
  border-top-color: #f96d00;
  border-bottom-color: #f96d00;
  animation: spin 0.5s linear infinite;
}
.loading > span:nth-of-type(1) {
  animation: bounce 0.55s ease-in-out infinite;
  margin-left: -50px;
}
.loading > span:nth-of-type(2) {
  animation: bounce 0.55s ease-in-out 0.33s infinite;
}
.loading > span:nth-of-type(3) {
  animation: bounce 0.55s ease-in-out 0.66s infinite;
  margin-left: 50px;
}
@keyframes bounce {
  0% {
    margin-top: 0px;
  }
  33% {
    margin-top: 15px;
  }
  66% {
    margin-top: -15px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
